@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {

    margin: 0;
    min-height: 1000px;
}

/* header */
.banner {
    background: linear-gradient(#0008, #0008), url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;

}

.brandName {
    font-size: 30px;
}

.brandLogo {
    vertical-align: sub;
    padding-right: 18px;
    width: 27%;
}

.navbar-brand {
    color: white;
    line-height: 45px;
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
    font-size: 34px;
}

.nav-link {
    margin-right: 25px;
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white;
}



.navbar-brand:hover {
    color: white;
    line-height: 45px;
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
    font-size: 34px;
}

.nav-link:hover {
    margin-right: 25px;
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #f8ad32;
}

.active {
    color: #f8ad32;
}


/* ------------------------------- */

aside {
    width: 100%;
    color: white;
    margin-top: 50px;
    margin-left: 85px;
}

aside h3 {
    margin: 0;
    font-size: 50px;
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
}

aside h1 {
    margin: 0;
    text-align: left;
    font-size: 150px;
    text-transform: uppercase;
    color: transparent;
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 3px white;
}

@media(max-width:694px) {
    aside {
        margin-left: 30px;
    }

    .brandName {
        font-size: 17px;
    }

    aside h1 {
        font-size: 70px;
    }

    aside h3 {
        font-size: 30px;
    }
}

aside p {
    font-family: 'Roboto',
        sans-serif;
    font-size: 20px;
    margin: 0;
    width: 70%;
}

.btns {
    width: 100%;
    height: 135px;
    font-family: 'Roboto',
        sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.callbtn1 {
    color: #524f4f;
    border: #FAB13B solid 1px;
    background-color: #fab13a;
    padding: 14px 52px;
    margin-right: 33px;
    border-radius: 6px;
    cursor: pointer;
    border: #fab13a solid 1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.callbtn1:hover {
    color: white;
    border: white solid 1px;

}

.bookbtn2 {
    color: #fab13a;
    border: #fab13a solid 1px;
    background-color: transparent;
    padding: 14px 43px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.bookbtn2:hover {
    color: white;
    border: white solid 1px;

}

/* end header */

/* testimonial */
.testimonial {
    background-color: lightgray;
    min-height: 390px;
}

.testimonial .content {
    width: 100%;
    margin-right: auto;
}

.content .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.card {
    height: 300px;
    border: 0;
    align-items: center;
    margin-bottom: 20px;
}



.testimonial p {
    color: #524f4f;

}

.one {
    width: 250px;
    height: 250px;
    background: white;
    float: left;
    padding: 25px;
    text-align: center;
    margin-right: 16px;
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
}

.one img {
    margin-top: 10px;

}

.two {
    width: 250px;
    height: 250px;
    background: white;
    float: left;
    padding: 25px;
    text-align: center;
    margin-right: 16px;
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
}

.two img {
    margin-top: 10px;

}

.three {
    width: 250px;
    height: 250px;
    background: white;
    float: left;
    padding: 25px;
    text-align: center;
    margin-right: 16px;
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
}

.three img {
    margin-top: 10px;

}

/* end testimonial */






/* about */
.about {
    background-color: white;
    margin-top: 69px;
    min-height: 500px;
}

.mainAbout {
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

}

.mainAbout ul {
    list-style: none;
}

.mainAbout li {
    margin-right: 25px;
    margin-bottom: 35px;
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #524f4f;
}

.mainAbout li::before {
    content: '\2661';
    margin-right: 15px;
    color: #faae32;

}

.mainAbout img {
    float: right;
    width: 35%;
}

/* end about */






/* footer */
.footerBanner {
    background: linear-gradient(#0008, #0008), url(../images/bg.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.bgText {
    color: white;
    text-align: center;
    line-height: 45px;
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
    font-size: 21px;
}

.numberFot {
    color: #faae32;
}

.footerbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.callbtn {
    color: #524f4f;
    border: #FAB13B solid 1px;
    background-color: #fab13a;
    padding: 14px 52px;
    border-radius: 6px;
    cursor: pointer;
    border: #fab13a solid 1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-bottom: 20px;
}

.bookbtn {
    color: #fab13a;
    border: #fab13a solid 1px;
    background-color: transparent;
    padding: 14px 30px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-bottom: 20px;

}



/* end footer */


/* start copyrights */
/* start section 8 */
footer {
    background: black;
    padding: 15px 0px 20px 0;
}

footer p {
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

footer .imgfot {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

footer .imgfot img {
    width: 5%;

}

@media (max-width:900px) {
    footer .imgfot img {
        width: 15%;

    }
}

/* end section 8 */
/* end copyrights */